# Anyone with write access can merge by default
*

# Platform Engineering review required
# Reusable GitHub Actions workflows and repo config
/.github/ @alphagov/gov-uk-platform-engineering
# Terraform code
/terraform/deployments/ @alphagov/gov-uk-platform-engineering
