version: 2
updates:
  - package-ecosystem: "terraform"
    directory: "/terraform"
    schedule:
      interval: "weekly"
  - package-ecosystem: bundler
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: docker
    ignore:
      - dependency-name: ruby
    directory: /images/
    schedule:
      interval: weekly
