name: Run Brakeman

on:
  workflow_call:
    secrets:
      BUNDLER_GITHUB_TOKEN:
        required: false
        description: "Token used for Bundler to authenticate when installing gems from private Github repos"

jobs:
  run-brakeman:
    name: Run Brakeman
    permissions:
      contents: read
      security-events: write
      actions: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          show-progress: false

      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
        env:
          BUNDLE_GITHUB__COM: "x-access-token:${{ secrets.BUNDLER_GITHUB_TOKEN }}"

      - name: Run Brakeman
        run: |
          bundle exec brakeman . --except CheckRenderInline --quiet \
            --no-exit-on-warn --no-exit-on-error \
            -o brakeman.json -o brakeman.sarif

      - name: Upload SARIF to GitHub
        if: github.repository_visibility == 'public'
        uses: github/codeql-action/upload-sarif@5f8171a638ada777af81d42b55959a643bb29017 # v3
        with:
          sarif_file: brakeman.sarif

      - name: Upload JSON results
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4
        with:
          name: brakeman-json
          path: brakeman.json
