# USAGE
# -----
#
# on:
#   workflow_dispatch:
#     branches:
#       - main
#   push:
#     branches:
#       - main
#     paths-ignore:
#       - "Jenkinsfile"
#       - ".git**"
#
# jobs:
#   build-publish-image-to-ecr:
#     uses: alphagov/govuk-infrastructure/.github/workflows/ci-ecr.yaml@main
#     secrets:
#       AWS_GOVUK_ECR_ACCESS_KEY_ID: ${{ secrets.AWS_GOVUK_ECR_ACCESS_KEY_ID }}
#       AWS_GOVUK_ECR_SECRET_ACCESS_KEY: ${{ secrets.AWS_GOVUK_ECR_SECRET_ACCESS_KEY }}


# REUSABLE WORKFLOW
# -----------------
name: Build and publish to ECR

on:
  workflow_call:
    inputs:
      ecr_repository_name:
        required: false
        type: string
        default: ${{ github.event.repository.name }}
      additional_build_args:
        required: false
        type: string
    secrets:
      AWS_GOVUK_ECR_ACCESS_KEY_ID:
        required: true
      AWS_GOVUK_ECR_SECRET_ACCESS_KEY:
        required: true

jobs:
  publish:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          # TODO: Remove long-lived keys and switch to OIDC once https://github.com/github/roadmap/issues/249 lands.
          aws-access-key-id: ${{ secrets.AWS_GOVUK_ECR_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_GOVUK_ECR_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ inputs.ecr_repository_name }}
          IMAGE_TAG: ${{ github.sha }}
          DOCKER_BUILDKIT: "1"
        run: |
          # Build a docker container and push it to ECR
          docker build \
            -t "${ECR_REGISTRY}/${ECR_REPOSITORY}:${IMAGE_TAG}" \
            -t "${ECR_REGISTRY}/${ECR_REPOSITORY}:latest" \
            ${{ inputs.additional_build_args }} .
          echo "Pushing image to ECR..."
          docker push "${ECR_REGISTRY}/${ECR_REPOSITORY}" -a
          echo "::set-output name=image::${ECR_REGISTRY}/${ECR_REPOSITORY}:${IMAGE_TAG}"
