name: linting
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: get date
        id: get-date
        run: |
          echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"

      - name: cache terraform plugins
        uses: actions/cache@v2
        env:
          cache-name: cache-terraform-plugins
        with:
          path: ~/.terraform/plugin-cache
          key:
            ${{ env.cache-name }}-${{ steps.get-date.outputs.date }}-${{ hashFiles('terraform/deployments/**/main.tf', 'terraform/deployments/**/versions.tf') }}

      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.13.3
          terraform_wrapper: false

      - name: terraform fmt
        working-directory: terraform
        run: |
          if ! terraform fmt -write=false -diff=true -list=true -recursive -check .
          then
            >&2 echo "Some terraform files weren't formatted correctly. Run 'terraform fmt' to fix them."
          fi

      - name: terraform validate
        working-directory: terraform
        env:
          TF_IN_AUTOMATION: true
        run: |
          export TF_PLUGIN_CACHE_DIR=~/.terraform/plugin-cache
          mkdir -p "$TF_PLUGIN_CACHE_DIR"

          shopt -s globstar

          for f in deployments/**/main.tf; do
            d=$(dirname "$f")
            (
              echo "$d"
              cd "$d"
              terraform init -backend=false
              terraform validate
              echo -e '\n-------------------------\n'
            )
          done

