name: Deploy

on:
  workflow_call:
    inputs:
      imageTag:
        description: 'An image tag to deploy'
        required: false
        default: ${{ github.sha }}
        type: string
      appName:
        description: 'Name of the app being deployed'
        required: false
        default: ${{ github.event.repository.name }}
        type: string
      environment:
        description: 'Environment to deploy to'
        required: false
        default: integration
        type: string
    secrets:
      WEBHOOK_TOKEN:
        required: true
      WEBHOOK_URL:
        required: true
      GH_TOKEN:
        required: true

jobs:
  update-image-tag:
    name: Update image tag
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: ${{ inputs.environment || 'integration' }}
    steps:
      - name: Deployments disabled
        run: |
          echo "Deployments are currently disabled for all environments"
          exit 1
