name: Run Erb Lint

on:
  workflow_call:
    secrets:
      BUNDLER_GITHUB_TOKEN:
        required: false
        description: "Token used for Bundler to authenticate when installing gems from private Github repos"

jobs:
  run-erblint:
    name: Run ErbLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: Setup Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          bundler-cache: true
        env:
          BUNDLE_GITHUB__COM: "x-access-token:${{ secrets.BUNDLER_GITHUB_TOKEN }}"

      - name: Run ErbLint
        run: bundle exec erb_lint --lint-all
