name: "Guardrail: ADR numbering matches the title"

on:
  pull_request:
    paths:
      - "docs/architecture/decisions/*.md"

jobs:
  check-adr-numbering:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: "Check ADR file numbering matches title"
        run: |
          set -euo pipefail
          EXIT_CODE=0
  
          while read -r ADR_FILE; do
            ADR_NAME="$(basename "${ADR_FILE}")"
          
            ADR_FILE_NUMBER="$(echo "${ADR_NAME}" | cut -d'-' -f1 | sed -nE 's/0+([1-9]{1}[0-9]*|0)/\1/p')"
            ADR_TITLE_NUMBER="$(sed -nE 's/^# ([0-9]+). .*/\1/p' "${ADR_FILE}")"
          
            echo -n "Checking ${ADR_FILE}..... "
            if [[ "${ADR_FILE_NUMBER}" != "${ADR_TITLE_NUMBER}" ]]; then
              echo "BAD"
              printf "\tFile number: %s Title number: %s\n" "${ADR_FILE_NUMBER}" "${ADR_TITLE_NUMBER}"
              EXIT_CODE=1
            else
              echo "OK"
            fi
          done < <(find docs/architecture/decisions -type f -maxdepth 1)
          
          exit $EXIT_CODE
