name: Publish an NPM package

on:
  workflow_call:
    inputs:
      package_name:
        required: false
        type: string
        default: ${{ github.event.repository.name }}
      deploy_to_github_pages:
        required: false
        type: boolean
        default: true
    secrets:
      NODE_AUTH_TOKEN:
        required: true

jobs:
  publish:
    name: Publish package
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          cache: npm
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build
      - name: Deploy to GitHub Pages
        if: ${{ inputs.deploy_to_github_pages }}
        uses: JamesIves/github-pages-deploy-action@9d877eea73427180ae43cf98e8914934fe157a1a # v4.7.6
        with:
          branch: gh-pages
          folder: examples
      - name: Establish version
        env:
          PACKAGE_NAME: ${{ inputs.package_name }}
        run: |
          LOCAL=$(node -p "require('./package.json').version")
          echo "local=${LOCAL}" >> "$GITHUB_OUTPUT"
          echo "remote=$(npm view "$PACKAGE_NAME" version)" >> "$GITHUB_OUTPUT"
          if git ls-remote --tags --exit-code origin "${LOCAL}"; then
            echo "tagged=yes" >> "$GITHUB_OUTPUT"
          fi
        id: version
      - name: Tag version
        if: ${{ steps.version.outputs.tagged != 'yes' }}
        run: git tag ${{ steps.version.outputs.local }} && git push --tags
      - name: Release to NPM
        if: ${{ steps.version.outputs.local != steps.version.outputs.remote }}
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
