name: Release

on:
  workflow_call:
    inputs:
      generate_release_notes:
        required: false
        type: boolean
        default: false
    secrets:
      GH_TOKEN:
        required: true

concurrency:
  group: release-${{ github.event.workflow_run.repository.name }}
  cancel-in-progress: false

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          show-progress: false
          ref: ${{ github.event.workflow_run.head_commit.id }}

      - name: Find latest version tag
        id: find-last-tag
        run: |
          last_tag=$(
            git ls-remote -q --exit-code --tags --sort=-version:refname origin 'v*' |
            head -1 | grep -Eo 'v[0-9]+'
          )

          if [[ ! "$last_tag" =~ ^v[0-9]*$ ]]; then
            echo "No valid previous tag found. last_tag=$last_tag"
            exit 1
          fi

          echo "result=$last_tag" >> "$GITHUB_OUTPUT"

      - name: Check is merge commit
        run: |
          # Commits with more than 1 parent are merge commits
          if [[ $(git cat-file -p HEAD | grep -c parent) -le 1 ]]; then
            echo "The current commit is not a merge commit."
            exit 1
          fi

      - name: Calculate new version tag
        id: calculate-tag
        run: |
          last_tag="${{ steps.find-last-tag.outputs.result }}"

          # Remove v prefix
          version=${last_tag#v}

          # Get the list of merge commits
          merge_commits=$(git rev-list --merges "$last_tag"..HEAD)

          # Count the number of merge commits
          merge_count=$(echo "$merge_commits" | wc -l)

          # Increase the version by the merge count
          ((version+=merge_count))

          # Construct the new version tag
          new_tag="v${version}"

          echo "result=$new_tag" >> "$GITHUB_OUTPUT"

      - name: Create GitHub Release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          retries: 3
          github-token: ${{ secrets.GH_TOKEN }}
          script: |
            const newTag = '${{steps.calculate-tag.outputs.result}}'

            await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: newTag,
              name: newTag,
              target_commitish: '${{ github.event.workflow_run.head_commit.id}}',
              generate_release_notes: ${{ inputs.generate_release_notes }},
              make_latest: "legacy",
            });
