name: Run Standardx

on:
  workflow_call:
    inputs:
      files:
        description: 'Files(s) or glob(s) to check'
        required: false
        default: "'app/assets/javascripts/**/*.js' 'spec/javascripts/**/*.js'"
        type: string

jobs:
  run-standardx:
    name: Run Standardx
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: alphagov/govuk-infrastructure/.github/actions/setup-node@main

      - name: Run Standardx
        run: yarn run standardx ${{ inputs.files }}
